@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');

/*
 * Usar un box-sizing model más intuitivo.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  /* Main colors. */
  --clr-gray: #4a4a4a;
  --clr-blue: #3358cb;
  --clr-green: #8ed131;
  --clr-glow-yellow: #e0ff40;
  /* Modal colors. */
  --clr-modal-black: #000000;
  --clr-modal-title-blue: #0a8bbc;
  --clr-modal-background-blue: #d8ecf3;
  --ff-primary: "Asap", sans-serif;
}

body {
  min-height: 100vh;
  background-color: white;
  color: var(--clr-gray);
  font-weight: 400;
  font-family: var(--ff-primary);
  font-size: 1rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.header {
  max-width: 95%;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo img {
  width: 20rem;
}

.header__info {
  margin-top: 1rem;
}

.main {
  max-width: 343px;
}

.main__cards {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.main__card {
  width: 327px;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 5px 1px #cfcfcf;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.main__card>img {
  width: 100px;
}

.main__card:hover {
  cursor: pointer;
  border: 1px solid #cccccc;
  background-color: var(--clr-modal-background-blue);
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  transition: all 0.2s ease-out;
}

.main__benefits {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.main__benefits--video {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.main__benefits--video::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.main__benefits--video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main__benefits--title {
  margin: 0 1.5rem;
  color: var(--clr-modal-black);
  font-weight: 700;
  font-size: 1.5rem;
}

.main__benefits--list {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  list-style-image: url("./assets/beneficios-icon.svg");
}

.main__benefits--list strong {
  font-weight: 700;
}

.main__steps {
  background-color: var(--clr-blue);
  color: white;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.main__step {
  line-height: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__step>img {
  width: 100px;
  margin-bottom: 1rem;
}

.main__step>h3 {
  color: var(--clr-glow-yellow);
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.main__info {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.main__cta {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.main__cta>button {
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 0.5rem;
}

.main__cta>button:hover {
  cursor: pointer;
  background-color: var(--clr-modal-title-blue);
  transition: all 150ms ease-out;
}

.main__cta>button:active {
  transform: translateY(2px);
  transition: all 1ms ease-out;
}

.main__cta--packages {
  background-color: var(--clr-green);
}

.main__cta--schedule {
  background-color: var(--clr-blue);
}

@media screen and (min-width: 768px) {
  .header__logo img {
    width: 25rem;
  }

  .main {
    max-width: 690px;
  }

  .main__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .main__steps {
    row-gap: 5rem;
  }

  .main__info {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .main__cta {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

@media screen and (min-width: 1270px) {
  .header__logo img {
    width: 30rem;
  }

  .main {
    max-width: 1100px;
  }

  .main__cards {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }

  .main__card {
    padding: 2rem 3rem;
  }

  .main__benefits {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin-bottom: 2rem;
  }
}