@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/*
 * Usar un box-sizing model más intuitivo.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  /* Main colors. */
  --clr-gray: #4a4a4a;
  --clr-blue: #3358cb;
  --clr-green: #8ed131;
  --clr-glow-yellow: #e0ff40;
  /* Modal colors. */
  --clr-modal-black: #000000;
  --clr-modal-title-blue: #0a8bbc;
  --clr-modal-background-blue: #d8ecf3;
  --ff-primary: "Ubuntu", sans-serif;
}

body {
  min-height: 100vh;
  background-color: white;
  color: var(--clr-gray);
  font-weight: 400;
  font-family: var(--ff-primary);
  font-size: 1rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.header {
  max-width: 95%;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo img {
  width: 20rem;
}

.header__info {
  margin-top: 1rem;
}

.main {
  max-width: 343px;
}

.main__cards {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.main__card {
  width: 327px;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 5px 1px #cfcfcf;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.main__card>img {
  width: 100px;
}

.main__card:hover {
  border: 1px solid #cccccc;
  background-color: var(--clr-modal-background-blue);
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  transition: all 0.2s ease-out;
}

.main__benefits {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.main__benefits--video {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.main__benefits--video::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.main__benefits--video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main__benefits--title {
  margin: 0 1.5rem;
  color: var(--clr-modal-black);
  font-weight: 700;
  font-size: 1.5rem;
}

.main__benefits--list {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  list-style-image: url("./assets/beneficios-icon.svg");
}

.main__benefits--list strong {
  font-weight: 700;
}

.main__steps {
  background-color: var(--clr-blue);
  color: white;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.main__step {
  line-height: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__step>img {
  width: 100px;
  margin-bottom: 1rem;
}

.main__step>h3 {
  color: var(--clr-glow-yellow);
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.main__info {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.main__cta {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.main__cta>button {
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 0.5rem;
}

.main__cta>button:hover {
  cursor: pointer;
  background-color: var(--clr-modal-title-blue);
  transition: all 50ms ease-out;
}

.main__cta>button:active {
  transform: translateY(2px);
  transition: all 1ms ease-out;
}

.main__cta--packages {
  background-color: var(--clr-green);
}

.main__cta--schedule {
  background-color: var(--clr-blue);
}

.main__modal {
  position: fixed;
  width: min(100%, 343px);
  border-radius: 0.375rem;
  background-color: white;
  padding: 1rem;
  top: 5vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.main__price {
  background-color: var(--clr-modal-background-blue);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.main__price--title {
  border-bottom: 1px solid var(--clr-modal-title-blue);
  color: var(--clr-modal-title-blue);
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
}

.main__price--number {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: var(--clr-modal-black);
}

.main__price--number>strong {
  font-weight: 700;
  font-size: 2.25rem;
}

.main__price--mov {
  font-size: 0.9375rem;
  margin-bottom: 1rem;
}

.main__price--cta {
  border: 0;
  background-color: var(--clr-modal-title-blue);
  border-radius: 2rem;
  color: white;
  padding: 0.5rem 2rem;
}

.main__price--cta:hover {
  cursor: pointer;
  background-color: var(--clr-blue);
  transition: all 10ms ease-out;
}

.main__price--cta:active {
  transform: translateY(2px);
  transition: all 10ms ease-out;
}

.main__price--select {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: var(--clr-modal-black);
  font-weight: 700;
  line-height: 1.5rem;
  padding: 0 0.5rem;
}

.main__backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  top: 0;
  left: 0;
  z-index: 1;
}

.main__backdrop:hover {
  cursor: pointer;
}

.hidden {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .header__logo img {
    width: 25rem;
  }

  .main {
    max-width: 690px;
  }

  .main__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .main__steps {
    row-gap: 5rem;
  }

  .main__info {
    max-width: 460px;
    margin: 2rem auto;
  }

  .main__cta {
    max-width: 460px;
    margin: auto;
    margin-bottom: 2rem;
  }

  .main__modal {
    width: min(100%, 690px);
    top: 25vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 1270px) {
  .header__logo img {
    width: 30rem;
  }

  .main {
    max-width: 1100px;
  }

  .main__cards {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }

  .main__card {
    padding: 2rem 3rem;
  }

  .main__benefits {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin-bottom: 2rem;
  }

  .main__steps {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .main__step {
    max-width: 200px;
  }

  .main__cta {
    max-width: 1080px;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
  }

  .main__cta>button {
    padding: 0.75rem;
  }

  .main__cta--packages {
    width: 50%;
  }

  .main__cta--schedule {
    width: 50%;
  }
}